.carousel{
    position:relative;
    overflow:hidden;
    height:100%;
    
}
.carousel > li{
    position:absolute;
    left:0;
    top:0;
    opacity:1;
    animation: slide 12s ease infinite forwards;
}
.carousel > li:nth-child(1){
    opacity:1;
    z-index: 3;
}
.carousel > li:nth-child(2){
    z-index:2;
    animation-delay: 4s;
}
.carousel > li:nth-child(3){
    z-index:1;
    animation-delay: 8s;
}

@keyframes slide{
    0%{opacity:1; left:0;}
    33.33%{opacity:0.5; left:-120%;}
    34%{opacity:0;}
    66.66%{left:0; opacity:0;}
    100%{opacity:1;}
}
